.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    color: #8B7969;
    text-align: center;
    font-size: 35px;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    border-bottom: 1px solid #ddd;
}

.confirm-table__row {
    border: none;
}

.confirm-table__header {
    
    background-color: #BAA899;
    color: #BAA899;
}

.confirm-table__text {
    border: none;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    background: #82756A;
    color: #fff;
    
}